@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
@import url("./reset.css");
@import url("./normalize.css");
@import url("./grid.css");

:root {
  --color01: #e6203a;
  --color011: #6c1217;
  --color02: #f9f9f9;
  --color022: #010101;
  --font1: "Inter", sans-serif;
  --font2: "Source Serif Pro", "Times New Roman", serif;
}

body {
  height: 100%;
  background-color: black;
}

/* header */

header {
  font-family: var(--font1);
  width: 100%;
  height: 4rem;
  color: var(--color02);
  background-color: var(--color01);
  border-bottom: 0.4rem solid var(--color011);
}

header .container {
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 2.5rem;
  line-height: 4rem;
}

header .right {
  margin-right: 0;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

header nav ul li a {
  font-size: 1.25rem;
  line-height: 2rem;
  color: var(--color02);
}

header nav ul li a.ativo::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: var(--color02);
}

/* Header */

/* LUTADORES */

h1 {
  font-size: 3rem;
  line-height: 4rem;
  color: var(--color02);
  text-align: center;
}

.lutadores {
  text-align: center;
  margin: 2rem auto;
}

.lutadores .container {
  border-top: 0.25rem solid var(--color02);
  padding: 20px 0;
}

.lutadores .container:last-of-type {
  border-bottom: 0.25rem solid var(--color02);
}

.titulos {
  color: var(--color02);
  border: 0.3rem solid var(--color011);
  border-radius: 1rem;
  margin: 10px auto;
  padding: 1rem 0;
  font-size: 2.5rem;
  line-height: 4rem;
  cursor: pointer;
  transition: 0.3s;
}
.titulos:hover {
  background-color: var(--color01);
}

.lutadores section.noRow .lutador {
  cursor: pointer;
  margin: 10px auto;
  padding: 1rem 0;
  padding-left: 21%;
  border: 0.15rem solid var(--color011);
  text-align: left;
  position: relative;
  transition: 0.3s;
}

.lutadores section.noRow .lutador:hover {
  background-color: var(--color01);
}

.lutadores section.noRow .lutador img {
  filter: drop-shadow(0 0 2px var(--color022));
  background-color: var(--color022);
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 16%;
  top: 20%;
  border: 0.25rem solid var(--color011);
  border-radius: 100%;
}

.lutadores section.noRow .lutador article {
  display: inline-block;
  padding: 10px 20px;
  transition: 0.25s;
  color: var(--color02);
}

.lutadores section.noRow .lutador:hover article {
  color: var(--color022);
}

.lutadores section.noRow .lutador:hover hr {
  color: var(--color022);
}

.lutadores section.noRow .lutador article h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.lutadores section.noRow .lutador article p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 8px 4px;
  font-family: var(--font2);
}

.lutadores section.noRow {
  flex-direction: column;
}
section.noRow div.seta {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

section.noRow div.seta.left {
  left: -2rem;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 2rem solid var(--color02);
}
section.noRow div.seta.left:hover {
  border-right: 2rem solid var(--color01);
}

section.noRow div.seta.right {
  right: -2rem;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 2rem solid var(--color02);
}

section.noRow div.seta.right:hover {
  border-left: 2rem solid var(--color01);
}
/* Cadastro */

.w100 {
  width: 95%;
}

.w50 {
  width: 45%;
}

section.container form {
  margin: 0 auto;
  border-top: 0.25rem solid var(--color02);
  padding: 20px 0;
}

section.container form input,
select {
  height: 2.5rem;
  margin: 10px;
  background-color: transparent;
  border: 0.15rem solid var(--color011);
  padding-left: 0.5rem;
  color: white;
}

section.container form input:focus,
select:focus {
  outline: none !important;
  border-color: var(--color01);
  box-shadow: 0 0 10px var(--color01);
}

section.container form input[type="file"] {
  background-color: white;
  color: white;
  padding: 0.5rem;
  border: none;
  opacity: 0;
  position: absolute;
  top: -100%;
  left: 0;
}

section.container form label p {
  position: relative;
  height: 2.5rem;
  background-color: none;
  border: 0.15rem solid var(--color011);
  margin: 10px;
  cursor: pointer;
  padding-left: 0.5rem;
}

section.container form label p i {
  position: absolute;
  top: 25%;
  right: 0.5rem;
}

section.container form label p:hover,
section.container form input[type="submit"]:hover {
  outline: none !important;
  border-color: var(--color01);
  box-shadow: 0 0 10px var(--color01);
}

section.container form input::placeholder,
section.container form label p,
select {
  font-family: var(--font2);
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  font-size: 1.25rem;
  line-height: 2.2rem;
}

section.container form input[type="submit"] {
  font-family: var(--font2);
  background-color: transparent;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

section.container form input[type="submit"]:hover {
  background: linear-gradient(271deg, #e6203a, #6c1217);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
